<nav>
    <span>
        
<ul>
  <li id="drop"><a><app-ngbd-dropdown-basic></app-ngbd-dropdown-basic></a></li>
    <li><a class="button" [routerLink]="['login']">login</a></li>
<li><a class="button" [routerLink]="['products']">products</a></li>
<li><a class="button" [routerLink]="['about']">about</a></li>
<li><a className="button" [routerLink]="['home']">home</a></li>
<!-- <app-search></app-search> -->

<li id="logo"><a class="brand" [routerLink]="['home']">Echrini</a></li>
</ul>
<style type="text/css" media="screen">
  .brand {
  font-size: 29px;
  color: #fff;
  font-weight: 700;
  font-family: 'Leckerli One', cursive;
  background-color: #2d2d2d;
  border-radius: 40px;
  border-bottom: 2px solid #6294de;
  text-shadow: 2px 2px 0px #000;

}
    .active {
  background-color: blue;
}
   ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


#logo{
position:relative;
left:-58%;

}

li {
  float: right;
}

li a {
  position:relative;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: blue;
}
   </style>
   </span>

</nav>
